svg
{
    background : cover;
}

.divmap {
    width : 100%;
    margin : auto;
}

.divmap path{
    fill: #9e9e9e;
    stroke : gold;
    stroke-width: 1px;
    transition : fill 0.3s;
}
.divmap path.done {
    fill: green !important;
    stroke : gold;
    stroke-width: 1px;
    transition : fill 0.3s;
}

.divmap path.active.done {
    fill: #005600 !important;
}
.divmap path.active {
    fill: #767676 !important;
}
.divmap :hover {
    fill : coral;
}

body {
    background-image: url('dot-grid.png');
    padding-bottom: 120px;
    position: relative;
}
.dom {
    position: absolute;
    bottom: 0px;
    list-style: none;
    padding-left: 0px;
}
.progress, .progress-bar {
    border-radius: 0 !important;
    height: 20px;
}
.footer {
    position: absolute;
    bottom: 0px;
}